@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #212121;
  --secondary-color: #2b6b64;
}

.dark {
  --background: #22223B;
  --background-2: #4A4E69;
  --foreground: #F2E9E4;
  --secondary-color: #C9ADA7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #141852;
    --foreground: #ededed;
    --secondary-color: #2b6b64;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.big-header {
  margin: 0;
  line-height: 1;
  font-size: clamp(40px, 8vw, 72px);
}